include ../address/address.pug
mixin contact()
    section.contact#contact
        .container
            .contact_header 
                .contact_title
                    +title ({
                    className: 'title_contact',
                    text: 'contact'
                    })
                .container_text
                    +text ({
                        className: 'text_contact',
                        text: "For new projects deas, business or anything you'd like to discuss, contact with me!"
                    })
            .contact_item
                .contact_form
                    form
                        label
                            +form ({
                                modifier: false,
                                name: 'name',
                                type: 'text',
                                placeholder: 'Auskteez Tran',
                                textarea: false
                                })
                        label
                            +form ({
                            modifier: false,
                            name: 'email',
                            type: 'email',
                            placeholder: 'Your email...',
                            textarea: false
                            })
                        label
                            +form ({
                            modifier: false,
                            name: 'phone',
                            type: 'number',
                            placeholder: 'Your phone number...',
                            textarea: false
                            })
                        +form ({
                        modifier: false,
                        name: 'text',
                        type: true,
                        placeholder: 'Your message...',
                        textarea: true
                        })
                .contact_adress
                    +address ('address', '123 City name, Street, City, Country')
                    +address ('email', 'cahee@domain.com')
                    +address ('phone', '+012 345 6789')
                .contact_align
