include ../text/text.pug
include ../form/form.pug
include ../button/button.pug
mixin subscribe()
    section.subscribe
        .container
            .subscribe_inner
                .subscribe_title
                    h1 Subscribe To Us
                +text ({
                className: 'text_subscribe',
                text: 'Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.'
                })
                .subscribe_form
                    .subscribe_form__wraper
                        label
                            +form ({
                            modifier: 'form_input__height',
                            name: 'email',
                            type: 'email',
                            placeholder: 'Your email address...',
                            textarea: false
                            })
                    +button ('olive','SUBSCRIBE')