mixin slider()
    section.slider
        .slider_item
            .slider_wrapper
                .slider_count
                    span.slider_count__active 1 
                    |  of 
                    span.slider_count__all 3
                .slider_content._sliderActive
                    .slider_slider
                        p.slider_text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .slider_captions
                            .slider_logo
                                img(src="images/group.svg", alt="slider_logo")
                            .slider_author
                                ul.slider_list
                                    li.slider_name.
                                        Roy Rivera
                                    li.slider_profession.
                                        FrontEnd Developer
                                    li.slider_organization.
                                        S-PRO
                    .slider_slider
                        p.slider_text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit,  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati amet dignissimos provident nulla aliquid veniam tenetur voluptas, inventore architecto facere dolor iure a odio nam nobis reprehenderit doloribus? Modi, rerum.
                        .slider_captions
                            .slider_logo
                                img(src="images/group.svg", alt="slider_logo")
                            .slider_author
                                ul.slider_list
                                    li.slider_name.
                                        Roy Rivera
                                    li.slider_profession.
                                        FrontEnd Developer
                                    li.slider_organization.
                                        S-PRO
                    .slider_slider
                        p.slider_text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .slider_captions
                            .slider_logo
                                img(src="images/group.svg", alt="slider_logo")
                            .slider_author
                                ul.slider_list
                                    li.slider_name.
                                        Roy Rivera
                                    li.slider_profession.
                                        FrontEnd Developer
                                    li.slider_organization.
                                        S-PRO
