body {
    font: normal 16px/1 'Lato', sans-serif;
    color:  white;
}
.insta {
    width: 780px;
    margin: 0 auto;
    padding: 50px 30px;
    background: linear-gradient(to bottom left, #fa05c9 30%, #e30e71 30%,#e30e71 50%, #f7580f 50%, #f7580f 80%, #f7830f 80%, #f7830f 100%);
}
header {
    text-align: center;
}
header img {
    margin-bottom: 70px;
}
header h3{
    margin-bottom: 30px;
}
input {
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 10px;
    text-indent: 20px;
    border-radius: 6px;
    margin-bottom: 15px;
}
::-webkit-input-placeholder {color:grey;}
:-ms-input-placeholder      {color:grey;}
button {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 14px;
    color: white;
    padding: 10px 0;
    border-radius: 6px;
    background: #03b3ff;
    margin-bottom: 15px;
}
main p {
    font-size: 12px;
    margin-bottom: 40px;
}
a{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.or {
    position: relative;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}
.or::before {
    position: absolute;
    content: '';
    width: 350px;
    height: 2px;
    background: white;
    left: 0;
    top: 7px;
}
.or::after {
    position: absolute;
    content: '';
    width: 350px;
    height: 2px;
    background: white;
    right: 0;
    top: 7px;
}
.icon {
    text-align: center;
    font-size: 12px;
}
.icon::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url(img/fb.svg);
    left: 30%;
}
main{
    margin-bottom: 60px;
}

footer{
    
    text-align: center;
}
footer p {
    font-size: 12px;
    margin-bottom: 40px;
}