mixin logo()
    .logo
        a(href="#")
            picture
                source(srcset="../images/logo.svg" media="(max-width: 768px)")
                source(srcset="../images/logo@2x.svg")
                img(srcset="../images/logo@2x.svg" alt="My default image")