mixin tourist()
    section.tourist.layout
        .layout_section
            +title('What Our  Tourist Say', 'tourist')
            .tourist_content
                .tourist_image
                    img(src="../img/tourist_story.jpg")
                .tourist_story
                    h4.h4.tourist_subtitle Sam Sumon
                    i(class="tourist__quote fa fa-quote-left" aria-hidden="true")
                    +text('But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system', 'tourist')
