.container{
    margin: 0 auto;
}
.button_item{
    text-decoration: none;
    list-style: none;
    margin-bottom: 20px;
}
button{
    width: 100px;
    height: 60px;
    border-radius: 8px;
    text-align: center;
    color: rgba(0, 0, 0, .4);
    font-size: 18px;
}
.button__blue{
    background: blue;
    border: 1px solid blue;
}
.button__green{
    background: green;
    border: 1px solid green;
}
.button__orange{
    background: orange;
    border: 1px solid orange;
}
.button__red{
    background: red;
    border: 1px solid red;
}
.button__purple{
    background: purple;
    border: 1px solid purple;
}