include ../title/title.pug
mixin services()
    section.services#services
        - var values = ['Online Shopping','Quality Product','Domestic & International Delivery','Well Organized'];
        - var imgClass = ['services_listValue__basket','services_listValue__product','services_listValue__delivery','services_listValue__organized'];
        - var n = 0;
            .container
                .services_inner
                    .services_item
                        ul.services_list
                          each val in values
                            li.services_listValue(class= imgClass[n++])
                                a(href="#").services_link= val
                          else
                            li There are no values
                    .services_title
                        +title ({
                        className: 'title_services',
                        text: 'Our Services'
                        })
