@font-face {
    font-family: 'latohairline';
    src: url('lato-hairline-webfont.woff2') format('woff2'),
         url('lato-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latohairline_italic';
    src: url('lato-hairlineitalic-webfont.woff2') format('woff2'),
         url('lato-hairlineitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}