mixin timer()
    .timer
        .timer_title
            h4 Title Block
        ul.timer_listName
            li.timer_item
                span.timer_name Days
                span.timer_time.timer_time__day 12
            li.timer_item
                span.timer_name hours
                span.timer_time.timer_time__hours 09
            li.timer_item
                span.timer_name minutes
                span.timer_time.timer_time__minutes 45
            li.timer_item
                span.timer_name Seconds
                span.timer_time.timer_time__seconds 00