.timer {
    position: absolute;
    padding: 45px 110px 56px 24px;
    text-align: right;
    bottom: 52px;
    right: 0;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/rectangle.svg');
        width: 623px;
        height: 208px;
        bottom: 0;
        right: 0;
        z-index: -1;
        @media(max-width: 768px) {
            width: 462px;
        }
    }
    @media(max-width: 768px) {
        padding: 0 47px 65px 21px;
        bottom: 38px;
    }
    &_title {
        margin-bottom: 28px;
    }
    &_listName {
        display: flex;
    }
    &_name {
        font-size: 11px;
        color: rgba(255, 255, 255, .73);
        letter-spacing: .06em;
        text-transform: uppercase;
        margin-bottom: 19px;
    }
    &_time {
        font-size: 48px;
        letter-spacing: 0;
        &__hourse {
            color: rgba(255, 255, 255, .8);
        }
        &__minutes {
            color: rgba(255, 255, 255, .6)
        }
        &__seconds {
            color: rgba(255, 255, 255, .4)
        }
        @media(max-width: 768px) {
            font-size: 28px;
        }
    }
    &_item {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 62px;
        margin: 0 16px;
        &:last-child {
            margin-right: 0;
        }
        &:first-child {
            margin-left: 0;
        }
        @media(max-width: 768px) {
            margin: 0 10px;
        }
    }
}