mixin advantages()
    section.advantages.layout
        .advantages_content.layout_section
            .advantages_description
                +title('Why choose us')
                +text('Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee ')
                +text('Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.')
                .advantages_button
                    +button({
                        className: 'button',
                        text: 'Explore Places '
                    })
            .advantages_img
                img(src="../img/river.jpg" class="advantages_img__river")
                img(src="../img/mountains.jpg")