body {
    width: 656px;
    padding: 30px;
    background-color: #c7c7c7;
    margin: 0 auto;
    font-size: 0;
}
main,
.mainBox {
    overflow: auto;
}
.mainBox:after {
    clear: both;
}
.box {
    width: 80px;
    height: 80px;
    background-color: #FFF;
    border:1px solid black;
    float: left;
}
.black {
    background-color: #000;
}
.checkers_white {
    background-image: url(../img/checkers_white.png);
    background-size: contain;
}
.checkers_black {
    background-image: url(../img/checkers_black.png);
    background-size: contain;
}
.checkers_white:hover,
.checkers_black:hover {
    cursor: pointer;
}

