mixin footer()
    footer.footer_footer
        .footer_wrapper
            ul.footer_private
                li.footer_private__list
                    a(href="#") Privacy Policy
                li.footer_private__list
                    a(href="#") Terms &amp; Conditions
                li.footer_private__list
                    a(href="#") Tokensale Agreement
            .footer_copiryght &copy; 2018 
                a(href="#") S-PRO
                |  - All rights reserved
