mixin header()
    header.header.layout
        .header_content.layout_section
            +brand('title')
            h3.h3 Safe Travel Anywhere
            .header_form
                +form()
            .header_scroll
                span.header_scroll__text
                    | Scroll Down
                a(href="#")
                    svg(xmlns='http://www.w3.org/2000/svg', width='13.5', height='7.66')
                        path(data-name='', d='M3.38 4.28L0 .9.84.06l5.91 5.9L12.65 0l.85.84-6.75 6.82-.84-.84z', fill='#fff', fill-rule='evenodd')


