mixin footer()
    .footer
        .container
            .footer_inner
                .footer_info
                    a.footer_info__link(href="#") © 2015 Company. All right reserved.
                .footer_logo
                    a.footer_logo__link(href="#") Cahee
                .footer_text
                    p Made with 
                        strong.footer_text__bold love
                        |  by Auskteez
