mixin social()
    section.social
            .social_item
                .social_logo
                    +logo()
                .social_social
                    ul.social_list
                        li.social_icons
                            a(class="social_icons__link" href="#")
                                i(class="fab fa-telegram-plane")
                        li.social_icons
                            a(class="social_icons__link" href="#")
                                i(class="fab fa-twitter")
                        li.social_icons
                            a(class="social_icons__link" href="#")
                                i(class="fab fa-linkedin-in")
                        li.social_icons
                            a(class="social_icons__link" href="#")
                                i(class="fab fa-facebook-f")
                        li.social_icons
                            a(class="social_icons__link" href="#")
                                i(class="fab fa-medium-m")
                        li.social_icons
                             a(class="social_icons__link" href="#")
                                i(class="fab fa-reddit-alien")
                        li.social_icons
                            a(class="social_icons__link" href="#")
                                i(class="fab fa-btc")
                        li.social_icons
                            a(class="social_icons__link" href="#")
                                i(class="fab fa-github")