.button {
    background: transparent;
    border: 1px solid @colorGold;
    width: 120px;
    height: 24px;
    font: 700 14px/1.7 'Open Sans', sans-serif;
    color: #666666;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    cursor: pointer;
    &_prev {
        position: absolute;
        width: 0;
        border: 0;
        font-size: 40px;
        color: @colorGold;
        left: 0;
        top: 50%;
    }
    &_next {
        position: absolute;
        width: 0;
        border: 0;
        font-size: 40px;
        color: @colorGold;
        right: 0;
        top: 50%;
    }
}
