body{
    width: 700px;
    background-color: #c7c7c7;
    margin: 0 auto;
    font-size: 0;
}
main{
    padding: 30px;
    box-sizing: border-box;
    width: calc(100% - 29px*2);
    margin: 0 auto;
}
.mainBox{
    position: relative;
    left: -30px;
}
.box{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #FFF;
    border:1px solid black;
}
.box:nth-child(2n){
    background-color: #000;
}
.checkers_white{
    background-image: url(../img/checkers_white.png);
    background-size: contain;
}
.checkers_black{
    background-image: url(../img/checkers_black.png);
    background-size: contain;
}
.box2{
    top:0;
    left: 80px;
}
.box3{
    top:0;
    left: 160px;
}
.box4{
    top:0;
    left: 240px;
}
.box5{
    top:0;
    left: 320px;
}
.box6{
    top:0;
    left: 400px;
}
.box7{
    top:0;
    left: 480px;
}
.box8{
    top:0;
    left: 560px;
}
.box9{
    top: 80px;
    left: 80px;
}
.box10{
    top: 80px;
    left: 0;
}
.box11{
    top: 80px;
    left: 240px;
}
.box12{
    top:80px;
    left: 160px;
}
.box13{
    top: 80px;
    left: 400px;
}
.box14{
    top: 80px;
    left: 320px;
}
.box15{
    top: 80px;
    left: 560px;
}
.box16{
    top: 80px;
    left: 480px;
}
.box17{
    top: 160px;
    left: 0;
}
.box18{
    top: 160px;
    left: 80px;
}
.box19{
    top: 160px;
    left: 160px;
}
.box20{
    top: 160px;
    left: 240px;
}
.box21{
    top: 160px;
    left: 320px;
}
.box22{
    top: 160px;
    left: 400px;
}
.box23{
    top: 160px;
    left: 480px;
}
.box24{
    top: 160px;
    left: 560px;
}
.box25{
    top: 240px;
    left: 80px;
}
.box26{
    top: 240px;
    left: 0;
}
.box27{
    top: 240px;
    left: 240px;
}
.box28{
    top: 240px;
    left: 160px;
}
.box29{
    top: 240px;
    left: 400px;
}
.box30{
    top: 240px;
    left: 320px;
}
.box31{
    top: 240px;
    left: 560px;
}
.box32{
    top: 240px;
    left: 480px;
}
.box33{
    top: 320px;
    left: 0;
}
.box34{
    top: 320px;
    left: 80px;
}
.box35{
    top: 320px;
    left: 160px;
}
.box36{
    top: 320px;
    left: 240px;
}
.box37{
    top: 320px;
    left: 320px;
}
.box38{
    top: 320px;
    left: 400px;
}
.box39{
    top: 320px;
    left: 480px;
}
.box40{
    top: 320px;
    left: 560px;
}
.box41{
    top: 400px;
    left: 80px;
}
.box42{
    top: 400px;
    left: 0;
}
.box43{
    top: 400px;
    left: 240px;
}
.box44{
    top: 400px;
    left: 160px;
}
.box45{
    top: 400px;
    left: 400px;
}
.box46{
    top: 400px;
    left: 320px;
}
.box47{
    top: 400px;
    left: 560px;
}
.box48{
    top: 400px;
    left: 480px;
}
.box49{
    top: 480px;
    left: 0;
}
.box50{
    top: 480px;
    left: 80px;
}
.box51{
    top: 480px;
    left: 160px;
}
.box52{
    top: 480px;
    left: 240px;
}
.box53{
    top: 480px;
    left: 320px;
}
.box54{
    top: 480px;
    left: 400px;
}
.box55{
    top: 480px;
    left: 480px;
}
.box56{
    top: 480px;
    left: 560px;
}
.box57{
    top: 560px;
    left: 80px;
}
.box58{
    top: 560px;
    left: 0;
}
.box59{
    top: 560px;
    left: 240px;
}
.box60{
    top: 560px;
    left: 160px;
}
.box61{
    top: 560px;
    left: 400px;
}
.box62{
    top: 560px;
    left: 320px;
}
.box63{
    top: 560px;
    left: 560px;
}
.box64{
    top: 560px;
    left: 480px;
}


