include bem/login/login.pug

doctype html
html(lang="ru-RU")
        head
            meta(charset="UTF-8")
            meta( name="viewport" content="width=device-width, initial-scale=1")
            title registerForm
            link(rel="stylesheet", href="css/style.css")
            link(href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet")
            link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
            script(src='js/main.js')
        body
            +login()