include ../nav/nav.pug
include ../text/text.pug
include ../button/button.pug
mixin header()
    header.header#header
        .container
            .header_inner
                .header_logo
                    a.header_logo__link(href="#") Cahee
                .header_nav
                    +nav()
            .header_main
                h2.header_title Fresh Life
                .text
                    +text ({
                    className: 'text_header',
                    text: 'Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.'
                    })
                .header_button
                    +button ('brown','GET FREE NOW')
            .header_scroll
                a(href="#aboutUs")
                    img.header_img__scroll(src="img/scroll.png", alt="")