mixin footer()
    footer.footer
        a.footer__button(href="") REGISTER NOW!
        .footer__text
            | By clicking the button above you agree to our 
            a.footer__link(href="") Terms of Use 
            | and 
            a.footer__link(href="") Privacy Policy 
            | including use of cookies.