mixin social()
    .social
        .social_content
            a(class="social_link" href="#")
                i.social_items.fa.fa-facebook(aria-hidden='true')
            a(class="social_link" href="#")
                i.social_items.fa.fa-twitter(aria-hidden='true')
            a(class="social_link" href="#")
                i.social_items.fa.fa-linkedin(aria-hidden='true')
            a(class="social_link" href="#")
                i.social_items.fa.fa-youtube-play(aria-hidden='true')
            a(class="social_link" href="#")
                i.social_items.fa.fa-pinterest(aria-hidden='true')
